@import url(style/header.css);

*{ /*seletor universal para resetar as bordas da página*/
}

:root {/* seletor raiz para variáveis*/
    --cor-de-fundo: black;
    --cor-da-letra: white;
}
body{
    background-color: var(--cor-de-fundo);
}
